<h1>Edit Task: <%= @task.title %></h1>

<% if @task.errors.any? %>
  <h3>Please fix these errors:</h3>
  <ul>
    <% @task.errors.full_messages.each do |message| %>
      <li><%= message %></li>
    <% end %>
  </ul>
<% end %>

<form action="/tasks/<%= @task.id %>" method="post">
  <input name="_method" type="hidden" value="patch">

  <label for="task_title">Title</label>
  <input id="task_title" name="task[title]" type="text" value="<%= @task.title %>">
  </br>  </br>
  <label for="task_description">Description</label>
  <input id="task_description" name="task[description]" type="text" value="<%= @task.description %>">
  </br>  </br>
  <label for="task_location">Location</label>
  <input id="task_location" name="task[location]" type="text" value="<%= @task.location %>">
  </br>  </br>
  <label for="task_deadline">Deadline</label>
  <input id="task_deadline" name="task[deadline]" type="text" value="<%= @task.deadline %>"> </br></br>
  <button>Update task</button>
</form>